.table-wrapper {
  overflow-x: auto;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

.custom-table th,
.custom-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: right;
}

.custom-table th {
  background: #f0f0f0;
}